e-packages (from Flask) (7.1.2)
Requirement already satisfied, skipping upgrade: Jinja2>=2.10.1 in c:\users\admin\appdata\local\programs\python\python38-32\lib\site-packages (from Flask) (2.11.2)
Requirement already satisfied, skipping upgrade: itsdangerous>=0.24 in c:\users\admin\appdata\local\programs\python\python38-32\lib\site-packages (from Flask) (1.1.0)
Requirement already satisfied, skipping upgrade: Werkzeug>=0.15 in c:\users\admin\appdata\local\programs\python\python38-32\lib\site-packages (from Flask) (1.0.1)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\admin\appdata\local\programs\python\python38-32\lib\site-packages (from Jinja2>=2.10.1->Flask) (1.1.1)
PS C:\Users\admin\Documents\webcast-landing> pip freeze requirements.txt
astroid==2.4.2
click==7.1.2
colorama==0.4.3
dominate==2.5.1
Flask==1.1.2
Flask-Bootstrap4==4.0.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pylint==2.5.3
six==1.15.0
toml==0.10.1
visitor==0.1.3
Werkzeug==1.0.1
wrapt==1.12.1