{% extends "/base.html" %}

{% block content %}
<div class="container">
    <div class="customstyle">
      <div class="row">
        <div class="col-md">
            <div class="jumbotron">
<h1 class="display-4">Welcome to Sarah and John's Wedding Webcast!</h1>
<p class="lead">Please join us here on our website on Saturday, August 15, 2020 at 12:00 noon (PDT) to view the live
  stream of Sarah Smith and John Hepburn’s marriage ceremony.</p>
</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="card">
<img src="http://www.playfullscreen.com/photos/virt_event/J-Hepburn/image-1.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Welcome...</h5>
  <p class="card-text">...to our wed-site! If you have received this link, it means that we value our relationship with you and want to include you in our upcoming plans! We are getting married! 
    We wish we could invite all our family and friends to our wedding, but unfortunately, due to COVID this is not possible. However, that won’t stop us from celebrating! Grab some popcorn and get in your pj’s as you will be able to watch our wedding ceremony from the comfort of your couch!</p>
</div>
<div class="card-body">
  <img src="http://www.playfullscreen.com/photos/virt_event/J-Hepburn/image-7.jpg" class="card-img-top" alt="...">
</div>
</div>
        </div>
        <div class="col-md-4 col-lg-6">
            <div class="card">
<img src="http://www.playfullscreen.com/photos/virt_event/J-Hepburn/image-3.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Drop Video Player Here</h5>
  <p class="card-text">Embed a video player and link the file.</p>
</div>
<div class="card-body">
  <a href="#" class="card-link">Card link</a>
  <a href="#" class="card-link">Another link</a>
</div>
</div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="card">
<img src="http://www.playfullscreen.com/photos/virt_event/J-Hepburn/image-5.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <p class="card-text">Even though we are not able to have you here with us in person for our wedding day, we are planning a big celebration for the following year. At that time we hope to invite all our friends and family to celebrate our marriage. We will provide more details in the future.</p>
</div>
<div class="card-body">
  <img src="http://www.playfullscreen.com/photos/virt_event/J-Hepburn/image-4.jpg" class="card-img-top" alt="...">
  <hr>
  <img src="http://www.playfullscreen.com/photos/virt_event/J-Hepburn/image-2.jpg" class="card-img-top" alt="...">
</div>
</div>
        </div>
      </div>
      {{super()}}
    </div>
  </div>
{% endblock %}